fastapi
uvicorn[standard]

python-multipart

pydantic

sqlalchemy

psycopg2-binary

python-dotenv

chromadb

langchain

langchain-community

langchain-openai

sentence-transformers

PyMuPDF

tiktoken

numpy

pandas

openai